* {
	box-sizing: border-box;
}

h2 {
	font-size: 2rem;
	font-family: Verdana;
}

p {
	font-size:1.2rem;
}

li {
	font-size:1.2rem;
}

.footer {
	position: relative;
	bottom: 0;
	margin-top: 15px;
	padding: 10px;
	background-color: HSL(359,2%,60%);
	z-index: 1000; /* same as z-index explanation for header*/
}

body {
	background-color: HSL(359,2%,80%);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* MAIN CONTENT BLOCK CSS CODES */
.content {
	padding: 3rem;
	background-color: HSLA(359,2%,93%,0.5);
	border-radius: 15px;
	border: 5px outset grey;
	width: 95%;
	margin: 1rem auto;
	text-align: left;	
	max-width: 1500px;
}

.content table {
	width: 100%;
}
.content table, tr, td {
	border: 1px solid black;
}
.content tr,td {
	max-width: 25%;
}
.content img {
	max-height: 80vw;
	max-width: 100%;
}

/* Bicycle Rentals Shops Container Codes */
	.container {
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.shop {
		display:flex;
		flex-direction:column;
		align-items: center;
		text-align: left;
		min-height: 30rem;
		max-width: 20rem;
		border: 1px solid black;
		padding: 15px;
		background-color: white;
	}

	.shop h3 {
		text-align:center;
    }

	.shop img {
		max-width: 100%;
		max-height:100px;
		height:auto;
	}

	.content a:visited {
		text-decoration:none;
		color:black;
	}

/* Flex Container Code for distributing elements within divs mobile code available under @media query */

.flexcontainer {
	display: flex;
	overflow-x: hidden;
	justify-content: space-evenly;
	flex-grow: 1;
	flex-shrink: 1;
	
}

.flexcontainer img {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 33%;
	max-width: 33%;
	height: auto;
	object-fit: cover;
}

/* Formatted Table CSS Codes */

.formatted-table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.formatted-table th, .formatted-table td {
	border: 1px solid black;
	padding: 10px;
}

.formatted-table th:nth-child(1), .formatted-table td:nth-child(1) {
	width: 20%;
}

.formatted-table th:nth-child(2), .formatted-table td:nth-child(2) {
	width: 50%;
}

.formatted-table th:nth-child(3), .formatted-table td:nth-child(3) {
	width: 30%;
}

/* Nav Menu Section Codes*/

.dropdown:hover .dropdown-content {
	display: grid;
}

#navbar, #navbar a {
	display: flex;
	justify-content: space-evenly;
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 15px;
	font-size: 1.25rem;
}

#navbar a:hover {
	background-color: red;
}

.dropdown-content {
	display:none;
}

.dropdown-content a {
	margin-left: 10px;
	padding:15px;
	border: 1px black;
	background-color: white;
	color: black;
}

/* Navigation Page Icons */

.navicons-container {
	margin-top: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


/* Mobile Device Optimization Codes */

@media (max-width: 700px) {
		
	.content {
			padding: 5px;
			border-radius: 7px;
			border: 3px outset grey;
	}
		
	.formatted-table {
		word-wrap: break-word;
	}

	.flexcontainer {
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	flex-shrink: 1;
	
	}

	.flexcontainer img {
		flex-grow: 1;
		flex-shrink: 1;
		height: 80vw;
		object-fit: cover;
	}

	
/* Bicycle Rentals Shops Container Codes (Mobile Optimization) */
	.container {
		display:flex;
		flex-direction:column;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
	}
	.shop {
		display:flex;
		flex-direction:column;
		align-items: center;
		text-align: left;
		min-height: 30rem;
		max-width: 20rem;
		border: 1px solid black;
		padding: 15px;
		background-color: white;
	}

	.content a:visited {
		text-decoration:none;
		color:black;
	}

	.navicons-container {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	}

}
