* {
	box-sizing: border-box;
}

h2 {
	font-size: 28px;
	font-family: Verdana;
}


.footer {
	position: relative;
	bottom: 0;
	margin-top: 15px;
	padding: 10px;
	background-color: HSL(359,2%,60%);
	z-index: 1000; /* same as z-index explanation for header*/
}

body {
	background-color: HSL(359,2%,80%);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.content {
	padding: 50px;
	background-color: HSLA(359,2%,93%,0.5);
	border-radius: 15px;
	border: 5px outset grey;
	width: 95%;
	margin: 5px auto;
	text-align: left;	
}

.content table {
	width: 100%;
}
.content table, tr, td {
	border: 1px solid black;
}
.content tr,td {
	max-width: 25%;
}
.content img {
	max-width: 50%;
}

.flexcontainer {
	display:inline-flex;
	flex-wrap: wrap;
	overflow-x: hidden;
}

.flexcontainer div {
	width: 30%;
	height:100%;
	margin: 5px;
}

.flexcontainer img {
	max-width: 30%;
	border-radius: 5px;
}

.formatted-table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.formatted-table th, .formatted-table td {
	border: 1px solid black;
	padding: 10px;
}

.formatted-table th:nth-child(1), .formatted-table td:nth-child(1) {
	width: 20%;
}

.formatted-table th:nth-child(2), .formatted-table td:nth-child(2) {
	width: 50%;
}

.formatted-table th:nth-child(3), .formatted-table td:nth-child(3) {
	width: 30%;
}

/* Nav Menu Section */

.dropdown:hover .dropdown-content {
	display: block;
	margin-left: 20px;
	

}
#navbar {
	display: inline-block;
}
#navbar a {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 15px;
}

#navbar a:hover {
	background-color: red;
}

.dropdown-content {
	display:none;
}

.dropdown-content a {
	padding:15px;
	border: 1px black;
	background-color: white;
	color: black;
}

@media (max-width: 700px) {
		
	.content {
			padding: 5px;
			border-radius: 7px;
			border: 3px outset grey;
	}
		
	.formatted-table {
		word-wrap: break-word;
	}

	.flexcontainer {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
}
