h2 {
	font-size: 28px;
	font-family: Verdana;
}

.stickyheader {
	position: sticky;
	top: 0;
	width:100%;
	text-align: center;
	background-color: HSL(359,2%,60%);
	padding: 15px 15px;
	margin-bottom: 15px;
	border-radius: 15px;
	z-index: 1000; /* forces the elements with this class to stay on top of the stack */
		
}

.stickyheader h1 {
	font-size: 32px;
	font-family: Verdana;
}

table, th, td {
	border: 1px solid black;
	width: 100%;
}

th {
	padding: 10px 0px 10px;
	max-width: 300px;
}

td {
	padding: 10px;
}

body {
	background-color: HSL(359,2%,80%);
}

.footer {
	position: sticky;
	bottom: 0;
	margin-top: 15px;
	padding: 15px;
	background-color: HSL(359,2%,60%);
	border-radius: 15px;
	z-index: 1000; /* same as z-index explanation for header*/
}

.content {
	padding: 50px;
	background-color: HSLA(359,2%,93%,0.5);
	border-radius: 15px;
	border: 2px dashed grey;
	width: 80%;
	max-width: 1000px;
	margin: auto;
	margin-top: 10px;
	
}

.flexcontainer {
	display:flex;
}

.flexcontainer table {
	border-collapse: collapse;
}

.formatted-table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.formatted-table th, .formatted-table td {
	border: 1px solid black;
	padding: 10px;
	word-wrap: break-word;
}

.formatted-table th:nth-child(1), .formatted-table td:nth-child(1) {
	width: 20%;
}

.formatted-table th:nth-child(2), .formatted-table td:nth-child(2) {
	width: 50%;
}

.formatted-table th:nth-child(3), .formatted-table td:nth-child(3) {
	width: 30%;
}

.menucontent {
	background-color: black;
	color: white;
	padding: 15px;
	border-radius: 15px;
	margin-top: 20px;
	text-decoration: none;
}

