* {
	box-sizing: border-box;
}

h2 {
	font-size: 28px;
	font-family: Verdana;
}

.stickyheader {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000; /* forces the elements with this class to stay on top of the stack */
	text-align: center;
	background-color: HSL(359,2%,60%);
	padding: 10px 10px;
	margin: 0;
}

.stickyheader h1 {
	font-size: 32px;
	font-family: Verdana;
	margin-bottom: 25px;
}

.footer {
	position: relative;
	bottom: 0;
	margin-top: 15px;
	padding: 10px;
	background-color: HSL(359,2%,60%);
	z-index: 1000; /* same as z-index explanation for header*/
}

<!-- 
table, th, td {
	border: 1px solid black;
	width: 100%;
}

th {
	padding: 10px 0px 10px;
	max-width: 300px;
}

td {
	padding: 10px;
}

-->

body {
	background-color: HSL(359,2%,80%);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}



.content {
	padding: 50px;
	background-color: HSLA(359,2%,93%,0.5);
	border-radius: 15px;
	border: 2px outset grey;
	width: 95%;
	margin: 5px auto;
	text-align: left;
	
}

.flexcontainer {
	display:flex;
}

.flexcontainer table, .flexcontainer th, .flexcontainer td {
	border-collapse: collapse;
	text-align: center;
}

.formatted-table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.formatted-table th, .formatted-table td {
	border: 1px solid black;
	padding: 10px;
}

.formatted-table th:nth-child(1), .formatted-table td:nth-child(1) {
	width: 20%;
}

.formatted-table th:nth-child(2), .formatted-table td:nth-child(2) {
	width: 50%;
}

.formatted-table th:nth-child(3), .formatted-table td:nth-child(3) {
	width: 30%;
}

.menucontent a, .menucontent a:visited {
	background-color: black;
	color: white;
	padding: 15px;
	border-radius: 15px;
	margin-top: 20px;
	text-decoration: none;
}

.menucontent a:hover {
	background-color: white;
	color: black;
	padding: 12px;
	border-radius: 15px;
	margin-top: 20px;
	text-decoration: none;
}

.menucontent {
	margin-bottom: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

@media (max-width: 700px) {
	.stickyheader h1 {
		font-size: 16px;
		font-family: Verdana;
		margin-bottom: 12px;
		}
		.menucontent a, .menucontent a:visited, .menucontent a:hover {
			display: block;
			font-size: 12px;
		}
		
		.content {
				padding: 5px;
				border-radius: 7px;
				border: 1px dashed grey;
		}
		
		.formatted-table {
			word-wrap: break-word;
		}
}
